.signForm {
    width:300px;
}

.signDiv {
    width:400px;
}

/* 
nav{
    background: lightgreen;
} 
*/

.naviList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.naviMenuItem{
    float:left
    display: block;
    text-align: center;
    padding: 16px;
}

.loginError{
    color:red;
    font-weight:bold;
    font-size:medium;
}



