.signForm {
    width:300px;
}

.signDiv {
    width:400px;
}

/* 
nav{
    background: lightgreen;
} 
*/

.naviList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.naviMenuItem{
    float:left
    display: block;
    text-align: center;
    padding: 16px;
}

.loginError{
    color:red;
    font-weight:bold;
    font-size:medium;
}


.bookmarkIcon {
    font-size: 2em;
}

.trashIcon {
    font-size: 2em;
}

.trashButton {
    padding: .25rem;
    
}

.trashButton:hover {
    background-color: gray;
    color:white;
}